body {
    font-family: sans-serif;
  }
  #player {
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
  }

  #audio {
    width: 100%;
  }

  #play, #pause, #stop, #next {
    width: 50%;
    padding: 10px;
    margin: 5px;
  }

  #play, #next {
    background-color: green;
  }
  
  #pause, #stop {
    background-color: red;
  }